doctype html
html
  head
    meta(charset='utf-8')
    title= title
  body
    #ytplayer
    script(src='/static/ytplayer.js')
    script(type='text/javascript').
      (function(){
        setVideoId('#{videoId}');
      })();
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript' src='/static/client.js')
    
    #momocall
      .call
        span.time 00:00:00:00
        span.call うりゃ